@model ElectroShop.Models.MUser

@{
    ViewBag.Title = "Xóa: " + Model.FullName;
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3" id="sidebar">
                <ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">

                    <li class="">
                        <a href="@Url.Action("Index", "User")"><i class="icon-chevron-right"></i> Danh sách</a>

                    </li>
                    <li class="">

                        <a href="@Url.Action("Trash", "User")"><i class="icon-chevron-right"></i> Thùng rác(@ViewBag.demrac)</a>
                    </li>
                </ul>
            </div>

            <div class="span9" id="content">
                <div class="row-fluid">
                    <div class="navbar">
                        <div class="navbar-inner">
                            <ul class="breadcrumb">
                                <i class="icon-chevron-left hide-sidebar"><a href='#' title="Hide Sidebar" rel='tooltip'>&nbsp;</a></i>
                                <i class="icon-chevron-right show-sidebar" style="display:none;"><a href='#' title="Show Sidebar" rel='tooltip'>&nbsp;</a></i>
                                <li>
                                    <a href="#">Danh sách User</a>
                                </li>


                            </ul>
                        </div>
                    </div>
                    <!-- block -->
                    <div class="block">

                        <div class="block-content collapse in">
                            <div class="span12">
                                <div class="table-toolbar">
                                    <div class="btn-group">
                                        <input type="submit" value="Delete" class="btn btn-primary btn-sm fas fa-plus-circle" />
                                        <a href="@Url.Action("Index","User")" class="btn btn-danger btn-sm"><i class="fas fa-arrow-circle-left"></i>Trở về</a>
                                    </div>
                                </div>
                                <dl class="dl-horizontal">
                                    <dt>
                                        @Html.DisplayNameFor(model => model.FullName)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.FullName)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.UserName)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.UserName)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.Password)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Password)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.Email)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Email)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.Gender)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Gender)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.Phone)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Phone)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.Img)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Img)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.Access)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Access)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.Created_at)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Created_at)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.Created_by)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Created_by)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.Updated_at)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Updated_at)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.Updated_by)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Updated_by)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.Status)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Status)
                                    </dd>

                                </dl>

                            </div>
                        </div>
                    </div>
                    <!-- /block -->
                </div>
            </div>
        </div>
        <hr>

    </div>
}