@model IEnumerable<ElectroShop.ProductCategory>

@{
    ViewBag.Title = "Sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@Html.Partial("_MessageAlert")
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>Sản phẩm</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="~/admin">Dashboard</a>
            </li>
            <li class="breadcrumb-item">
                <a>Product</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Index</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-3">
        <br />
        <a class="btn btn-success " href="@Url.Action("Create","Product")"><i class="fa fa-upload"></i>&nbsp;&nbsp;<span class="bold">Thêm mới</span></a>
        <a class="btn btn-danger" href="@Url.Action("Trash","Product")"><i class="fa fa-trash"></i>&nbsp;&nbsp;<span class="bold">Thùng rác(@ViewBag.countTrash)</span></a>

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">

                <div class="ibox-content">

                    <table class="footable table table-stripped toggle-arrow-tiny">
                        <thead>
                            <tr>

                                <th data-toggle="true">ID</th>
                                <th>Ảnh</th>
                                <th>Tên sản phẩm</th>
                                <th data-hide="all">Loại sản phẩm</th>
                                <th data-hide="all">Ngày tạo</th>
                                <th data-hide="all">Giá khuyến mãi</th>
                                <th data-hide="all">Giá</th>
                                
                                <th>Chức năng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var row in Model)
                            {
                            <tr>
                                <td>@row.ProductId</td>
                                <td><img src="~/Public/library/product/@row.ProductImg" width="80px;" /></td>
                                <td><a href="@Url.Action("Details","Product", new {Id = row.ProductId })" />@row.ProductName</td>
                                <td>@row.CategoryName</td>
                                <!--None show hide-->
                                <td>@String.Format("{0:dd-MM-yyyy -  hh:mm:ss}", row.ProductCreated_At)</td>
                               
                                <td><span class="pie"> @String.Format("{0:0,0₫}", row.ProductPriceSale) </span></td>
                                <td>@String.Format("{0:0,0₫}", row.ProductPrice)</td>

                                <td>
                                    <label class="switch" style="font-size:10">
                                        @if (row.ProductDiscount == 1)
                                        {<input class="changeDiscount" data-id="@row.ProductId" data-controller="Product" type="checkbox" checked>}
                                        else
                                        {<input class="changeDiscount" data-id="@row.ProductId" data-controller="Product" type="checkbox">}
                                        <span class="slider round"></span>
                                    </label>
                                    <label class="switch">
                                        @if (row.ProductStatus == 1)
                                        {<input class="changeStatus" data-id="@row.ProductId" data-controller="Product" type="checkbox" checked>}
                                        else
                                        {<input class="changeStatus" data-id="@row.ProductId" data-controller="Product" type="checkbox">}
                                        <span class="slider round"></span>
                                    </label>
                                    <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Chỉnh sửa">
                                        <a href="@Url.Action("Edit", "Product", new { id = row.ProductId })" class="text-white"><i class="fa fa-edit"></i></a>
                                    </button>
                                    <button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Xóa">
                                        <a href="@Url.Action("DelTrash", "Product", new { id = row.ProductId })" class="text-white"><i class="fa fa-trash"></i></a>
                                    </button>
                                </td>
                            </tr>
                            }
                            </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5">
                                    <ul class="pagination float-right"></ul>
                                </td>
                            </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
    </div>

</div>
