@model ElectroShop.Models.MTopic

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@Html.Partial("_MessageAlert")
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-9">
            <h2>Chủ đề bài viết</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="~/admin">Dashboard</a>
                </li>
                <li class="breadcrumb-item">
                    <a>Topic</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong>Delete</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-3">
            <br />
            <input type="submit" value="Xóa" class="btn btn-primary btn-sm fas fa-plus-circle" />

            <a class="btn btn-danger" href="@Url.Action("Index", "Topic")"><i class="fa fa-mail-reply"></i>&nbsp;&nbsp;<span class="bold">Quay về</span></a>

        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5 style="color:red;">@Model.Name</h5>

                    </div>
                    <div class="ibox-content">

                        <table class="table table-bordered table-hover">

                            <tr>
                                <th scope="col"> @Html.DisplayNameFor(model => model.Id)</th>
                                <td scope="col">  @Html.DisplayFor(model => model.Id)</td>
                            </tr>
                            <tr>
                                <th scope="col"> @Html.DisplayNameFor(model => model.Name)</th>
                                <td scope="col">  @Html.DisplayFor(model => model.Name)</td>
                            <tr>
                                <th scope="col"> @Html.DisplayNameFor(model => model.Slug)</th>
                                <td scope="col">  @Html.DisplayFor(model => model.Slug)</td>
                            </tr>
                            <tr>
                                <th scope="col"> @Html.DisplayNameFor(model => model.ParentId)</th>
                                <td scope="col">  @Html.DisplayFor(model => model.ParentId)</td>
                            </tr>
                            <tr>
                                <th scope="col"> @Html.DisplayNameFor(model => model.Orders)</th>
                                <td scope="col">  @Html.DisplayFor(model => model.Orders)</td>
                            </tr>
                            <tr>
                                <th scope="col"> @Html.DisplayNameFor(model => model.Metakey)</th>
                                <td scope="col">  @Html.DisplayFor(model => model.Metakey)</td>
                            </tr>
                            <tr>
                                <th scope="col"> @Html.DisplayNameFor(model => model.Metadesc)</th>
                                <td scope="col">  @Html.DisplayFor(model => model.Metadesc)</td>
                            </tr>
                            <tr>
                                <th scope="col"> @Html.DisplayNameFor(model => model.Created_at)</th>
                                <td scope="col">  @Html.DisplayFor(model => model.Created_at)</td>
                            </tr>
                            <tr>
                                <th scope="col"> @Html.DisplayNameFor(model => model.Created_by)</th>
                                <td scope="col">  @Html.DisplayFor(model => model.Created_by)</td>
                            </tr>
                            <tr>
                                <th scope="col"> @Html.DisplayNameFor(model => model.Updated_at)</th>
                                <td scope="col">  @Html.DisplayFor(model => model.Updated_at)</td>
                            </tr>
                            <tr>
                                <th scope="col"> @Html.DisplayNameFor(model => model.Updated_by)</th>
                                <td scope="col">  @Html.DisplayFor(model => model.Updated_by)</td>
                            </tr>


                        </table>


                    </div>
                </div>
            </div>

        </div>
    </div>

}