@model IEnumerable<ElectroShop.Models.MTopic>
@{
    ViewBag.Title = "Thùng rác";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@Html.Partial("_MessageAlert")
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Chủ đề bài viết</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="~/admin">Dashboard</a>
            </li>
            <li class="breadcrumb-item">
                <a>Topic</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Trash</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
        <br />
        <a class="btn btn-success " href="@Url.Action("Index","Topic")"><i class="fa fa-reply"></i>&nbsp;&nbsp;<span class="bold">Trở về</span></a>

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">

                <div class="ibox-content">

                    <table class="footable table table-stripped toggle-arrow-tiny">
                        <thead>
                            <tr>
                                <th data-toggle="true">STT</th>
                                <th>Tên chủ đề</th>
                                <th data-hide="all">Ngày tạo</th>
                                <th data-hide="all">Liên kết</th>
                                <th>Công cụ</th>
                                <th data-toggle="true">ID</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{var stt = 1;}
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@stt</td>

                                    <td>
                                        <a href="@Url.Action("Details","Topic", new {Id = item.Id })">@item.Name</a>
                                    </td>
                                    
                                    <td>
                                        @String.Format("{0:dd:MM:yyyy -  hh:mm:ss}", item.Updated_at)

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Slug)
                                    </td>

                                    <td>
                                        <a href="@Url.Action("Undo","Topic",new {id = item.Id })" class="btn btn-primary btn-sm" title="Khôi phục"><i class="fa fa-refresh"></i></a>
                                        <a href="@Url.Action("Delete","Topic",new {id = item.Id })" class="btn btn-danger btn-sm" title="Xóa"><i class="fa fa-trash"></i></a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Id)
                                    </td>
                                </tr>
                                stt++;
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5">
                                    <ul class="pagination float-right"></ul>
                                </td>
                            </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
    </div>

</div>